<div *ngIf="(versie == 0)">
  <!--teaching nederland-->
  <div *ngIf="werkmd[localPageN][0]['info']" class="kolom0">
    <div [innerHTML]="werkmd[localPageN][0]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][0]['info']" class="box0">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][1]['info']" class="kolom1">
    <div [innerHTML]="werkmd[localPageN][1]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][1]['info']" class="box1">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][2]['info']" class="kolom2">
    <div [innerHTML]="werkmd[localPageN][2]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][2]['info']" class="box2">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][3]['info']" class="kolom3">
    <div [innerHTML]="werkmd[localPageN][3]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][3]['info']" class="box3">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][4]['info']" class="kolom4">
    <div [innerHTML]="werkmd[localPageN][4]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][4]['info']" class="box4">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][5]['info']" class="kolom5">
    <div [innerHTML]="werkmd[localPageN][5]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][5]['info']" class="box5">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][6]['info']" class="kolom6">
    <div [innerHTML]="werkmd[localPageN][6]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][6]['info']" class="box6">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][7]['info']" class="kolom7">
    <div [innerHTML]="werkmd[localPageN][7]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][7]['info']" class="box7">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][8]['info']" class="kolom8">
    <div [innerHTML]="werkmd[localPageN][8]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][8]['info']" class="box8">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][9]['info']" class="kolom9">
    <div [innerHTML]="werkmd[localPageN][9]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][9]['info']" class="box9">
    <div></div>
  </div>
</div>

<div *ngIf="!(versie == 0)">
  <!--teaching UK-->
  <div *ngIf="werkmd[localPageN][0]['info']" class="kolom0">
    <div [innerHTML]="werkmd[localPageN][10]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][0]['info']" class="box0">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][1]['info']" class="kolom1">
    <div [innerHTML]="werkmd[localPageN][11]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][1]['info']" class="box1">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][2]['info']" class="kolom2">
    <div [innerHTML]="werkmd[localPageN][12]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][2]['info']" class="box2">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][3]['info']" class="kolom3">
    <div [innerHTML]="werkmd[localPageN][13]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][3]['info']" class="box3">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][4]['info']" class="kolom4">
    <div [innerHTML]="werkmd[localPageN][14]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][4]['info']" class="box4">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][5]['info']" class="kolom5">
    <div [innerHTML]="werkmd[localPageN][15]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][5]['info']" class="box5">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][6]['info']" class="kolom6">
    <div [innerHTML]="werkmd[localPageN][16]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][6]['info']" class="box6">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][7]['info']" class="kolom7">
    <div [innerHTML]="werkmd[localPageN][17]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][7]['info']" class="box7">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][8]['info']" class="kolom8">
    <div [innerHTML]="werkmd[localPageN][18]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][8]['info']" class="box8">
    <div></div>
  </div>

  <div *ngIf="werkmd[localPageN][9]['info']" class="kolom9">
    <div [innerHTML]="werkmd[localPageN][19]['secure']"></div>
  </div>
  <div *ngIf="!werkmd[localPageN][9]['info']" class="box9">
    <div></div>
  </div>
</div>
